<!DOCTYPE html>
<html>

<head>
    <title>memo</title>
    <meta charset="UTF-8">
    <meta name="content-type" content="text/html">
    <link rel="icon" type="image/x-icon" href="/anyone/favicon.ico">
</head>

<body bgcolor="#F0FFF0">
<div>
    <div id="topic_list" style="display: inline-block; vertical-align: top; margin-right: 50px">
    </div>
    <div style="display:inline-block">
        <textarea id="text" readonly="readonly" rows="45" cols="88"></textarea>
        <p>
            <button id="act" type="button" onclick="edit()" style="font-size:50px">edit</button>
            <button id="cancel" type="button" onclick="cancel()" style="font-size: 50px;display: none;">cancel</button>
        </p>
    </div>
</div>
</body>
<script type="text/javascript">
    var present_topic
    var topic_json

    function init() {
        var xhr = createXmlHttpRequest()
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                handleInit(xhr.responseText)
            } else if (xhr.readyState == 4) {
                alert("Bad Request")
            }
        }
        xhr.open("GET", "memo/list", true)
        xhr.send()
    }

    function handleInit(response) {
        topic_json = JSON.parse(response)
        a = '<h1>Topic List</h1><ul>'
        for (var topic in topic_json) {
            a += '<li><button onclick=requestTopic(this)>' + topic + '</button></li>'
        }
        a += '</ul><button onclick=createTopic()>create</button><button onclick=deleteTopic()>delete</button>'
        document.getElementById('topic_list').innerHTML = a
    }

    function createTopic() {
        p = prompt("Topic", "hello, world.")
        if (p == null) {
            return
        }
        if (p == "") {
            alert('Not Empty Please');
            return
        }
        var xhr = createXmlHttpRequest()
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText)
                init()
            } else if (xhr.readyState == 4) {
                alert("Bad Request")
            }
        }
        xhr.open("POST", "memo/" + p, true)
        xhr.send()
    }

    function deleteTopic() {
        if (present_topic == undefined) {
            alert("Pick a topic first.");
            return
        }
        c = confirm("Going to delete topic: " + present_topic)
        if (c == false) return
        var xhr = createXmlHttpRequest()
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText)
                init()
            } else if (xhr.readyState == 4) {
                alert("Bad Request")
            }
        }
        xhr.open("DELETE", "memo/" + present_topic, true)
        xhr.send()
    }

    function createXmlHttpRequest() {
        if (window.ActiveXObject) {
            return new ActiveXObject("Microsoft.XMLHTTP");
        } else if (window.XMLHttpRequest) {
            return new XMLHttpRequest();
        }
    }

    text = document.getElementById('text')

    function display(response) {
        text.value = response
    }

    function requestTopic(topic) {
        present_topic = topic.innerText
        var xhr = createXmlHttpRequest()
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                display(xhr.responseText)
            } else if (xhr.readyState == 4) {
                alert("Bad Request")
            }
        }
        xhr.open("GET", "memo/" + topic_json[present_topic], true)
        xhr.send()
    }

    bt_act = document.getElementById('act')
    bt_cancel = document.getElementById('cancel')


    function request() {
        if (text.value.length == 0) {
            alert("cannot be empty.")
            return
        }
        var xhr = createXmlHttpRequest()
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                alert(xhr.responseText)
            } else if (xhr.readyState == 4) {
                alert("bad request")
            }
        }
        xhr.open("POST", "memo/" + topic_json[present_topic] + "/" + present_topic, true)
        xhr.send(text.value)
    }

    function update() {
        text.setAttribute("readonly", "readonly")
        bt_act.innerText = 'edit'
        bt_act.setAttribute("onclick", "edit()")
        bt_cancel.style.display = "none"
        request()
    }

    function cancel() {
        text.setAttribute("readonly", "readonly")
        bt_act.innerText = 'edit'
        bt_act.setAttribute("onclick", "edit()")
        bt_cancel.style.display = "none"
        refresh()
    }

    function edit() {
        text.removeAttribute("readonly")
        bt_act.innerText = 'update'
        bt_act.setAttribute("onclick", "update()")
        bt_cancel.style.display = ""
        text.focus()
    }

    init()
</script>

</html>